@charset "utf-8";
@import "~bulma";
@import url('https://unpkg.com/bulmaswatch/united/bulmaswatch.min.css');
@import "~bulma-block-list/src/block-list";
@import "~bulma-timeline/dist/css/bulma-timeline.min.css";

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-flex-end {
  justify-content: flex-end;
}

ul.block-list {
  li.hoverable {
    padding: 0 !important;

    a {
      padding: 1rem !important;
      display: block;
      width: 100%;
      height: 100%;
    }

    a:hover {
      background: $white-bis;
    }

    a:focus {
      background: $white-bis;
    }
  }
}

.content.larger {
  font-size: 1.2rem;
}
